version: '3.9'

services:
  api:
    build: .
    container_name: property-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: property-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: locations_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
